.app {
    padding-top: remy(112);
    padding-bottom: remy(55);
    background-color: var(--ac);
    color: white;
    position: relative;
    z-index: 2;

    &-container {
        width: 100%;
        max-width: remy(955);
        margin-left: auto;
        margin-right: auto;
        display: flex;
        column-gap: remy(70);

        @media (max-width: remy(1199)) {
            column-gap: remy(40);
        }

        @media (max-width: remy(991)) {
            padding-left: remy(16);
            padding-right: remy(16);
        }

        @media (max-width: remy(767)) {
            padding-left: remy(28);
            padding-right: remy(28);
            flex-direction: column;
        }
    }

    &-content {
        max-width: remy(489);
        flex-shrink: 0;
        line-height: 2.31;

        .h4 {
            margin-bottom: remy(4);
        }
    }
    &-content__text {
        margin-bottom: 1rem;
    }

    &-links {
        p {
            color: rgba(255, 255, 255, 0.6);
        }
    }

    &-links__group {
        display: flex;
        align-items: center;
        column-gap: remy(12);
    }

    @media (max-width:remy(767)) {
        padding-top: remy(51);
        padding-bottom: remy(103);
        overflow-x: hidden;

        &-content {
            line-height: 2.06;

            .h4 {
                margin-bottom: remy(10);
            }
        }

        &-content__text {
            margin-bottom: remy(30);
        }

        &-links__group {
            img {
                width: remy(136);
                height: remy(40);
            }
        }
    }
}

.app-images {
    display: flex;
    column-gap: remy(32);
    margin-top: remy(-137);
       

    &__item {
        width: remy(232);
        flex-shrink: 0;
        filter: drop-shadow(2px 4px 6px black);
    }

    &__item:last-child {
        position: relative;
        top: remy(137);
    }

    @media (max-width: remy(1199)) {
        column-gap: remy(23);
        &__item {
            width: remy(200);
        }
    }

    @media (max-width: remy(991)) {
        margin-top: remy(40);
    }

    @media (max-width: remy(767)) {
        &__item {
            width: remy(166);
        }

        &__item:last-child {
            top: remy(123);
        }
    }
}