.footer {
    padding-top: remy(96);
    padding-bottom: remy(24);
    background-color: #0b0d17;
    color: #fff;
}

.footer-row {
    margin-bottom: remy(90);
    display: flex;
    gap: remy(40);
    // justify-content: space-between;
 
}

.footer__text {
    margin-bottom: remy(24);
    font-family: 'Manrope';
    font-size: remy(14);
    line-height: 1.71;
}

.footer__socials {
    display: flex;
    gap: remy(16);

    @media (max-width: remy(767)) {
        padding-top: remy(15);
        gap: remy(27);
    }
}

.footer__socials-item {
    width: remy(24);
    height: remy(24);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: grey;
    border-radius: 50%;
    color: #fff;

    &:hover {
        color: var(--subAc);
    }
}

.footer-content {
    max-width: remy(255);
   
}

.footer-group {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
  
}


.footer-bottom {
    display: flex;
    justify-content: space-between;
}