.footer {
    padding-block: remy(92) remy(24);
    background-color: $footerBg;
    color: $footerText;
    font-family: 'Manrope';
    font-size: remy(14);
    line-height: 1.71;
}

.footer-row {
    margin-bottom: remy(105);
    display: flex;
    column-gap: remy(33);
}

.footer-content {
    width: remy(255);
}

.footer-social {
    display: flex;
    align-items: center;
    column-gap: remy(16);

    a {
        width: remy(24);
        height: remy(24);
        flex-shrink: 0;
        border-radius: 50%;
        background-color: rgba(255, 255, 255, 0.1);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .3s;

        &:hover {
            background-color: var(--ac);
        }
    }

    svg {
        fill: #fff;
    }

    @media (max-width: remy(767)) {
        padding-top: remy(15);
        gap: remy(27);
    }
}

.mb-24 {
    margin-bottom: remy(24);
}

.footer-nav {
    width: remy(255);
}

.footer-nav__title {
    color: #fff;
    margin-bottom: remy(24);
    font-size: remy(20);
    line-height: 1.5;
    font-weight: 500;

}

.footer-nav__list a, .footer-nav__contacts a {
    transition: all 0.3s ease-in;

    &:hover {
        text-decoration: underline;
    }
}

.footer-nav__list li:not(:last-child) {
    margin-bottom: remy(12);
}

.footer-nav__contacts {
    svg {
        fill: var(--ac);
        vertical-align: middle;
        margin-right: remy(10);
    }

    a {
        display: flex;
        align-items: center;
    }
}

.footer-nav__contacts li:not(:last-child) {
    margin-bottom: remy(26);
}

.footer-nav__contacts img {
    margin-right: remy(7);
    flex-shrink: 0;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
}


.footer__menu {
    // display: flex;

    a {
        padding-inline: remy(8);
        line-height: 1;
        transition: all 0.3s ease-in;

        &:hover {
            text-decoration: underline;
        }

    }

    a+a {
        border-left: 1px solid $footerText;
    }
}

// .footer__menu-item:not(:last-child) {
//     margin-bottom: remy(12);
// }



// .footer__menu-item a + .footer__menu-item a {
//         border-left: 1px solid $footerText;
// }

// .footer__menu-item:not(:last-child) {
//     margin-right: remy(16);

// }



.footer-nav__contacts a {
    white-space: nowrap;
}