.header-container {
    width: 100%;
    max-width: remy(1390);
    padding-inline: remy(15);
    margin: 0 auto;
}

.header-nav {
    height: 101px;
    background-color: var(--ac);
    
    &__btn {
        column-gap: remy(40);
        margin-left: remy(73);
    }
}

.logo {
    font-size: remy(40);
    font-weight: 800;
    line-height: 1.095;
    color: #fff;
    margin-right: auto;

    span {
        color: var(--subAc);
    }
}



  





