.header {
    position: relative;
}

.header-container {
    width: 100%;
    max-width: remy(1390);
    padding-inline: remy(15);
    margin: 0 auto;
}

.header-nav {
    height: 101px;
    background-color: var(--ac);
    position: relative;
    z-index: 5;

    &__btn {
        column-gap: remy(40);
        margin-left: remy(73);

        @media (max-width: remy(1439)) {
            margin-left: 2.5rem;
        }

        @media (max-width: remy(1199)) {
            margin-left: 1.5rem;
            column-gap: 1.5rem;
        }

        @media (max-width: remy(991)) {
            .btn-outline {
                display: none;
            }
        }
    }

    @media (max-width: remy(991)) {
        height: remy(64);
    }
}

.logo {
    font-size: remy(40);
    font-weight: 800;
    line-height: 1.095;
    color: #fff;
    margin-right: auto;



    @media (max-width: remy(1199)) {
        font-size: remy(32);
    }

    @media (max-width: remy(574)) {
        font-size: remy(22);
    }
}



  





