.social {
    padding-top: remy(64);
    padding-bottom: remy(71);
    background-color: #EDEDED;
    position: relative;

    @media (max-width: remy(767)) {
        padding-top: remy(44);
        padding-bottom: remy(66);
    }
}

.social-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social__links {
    display: flex;
    gap: remy(90);
    padding-top: remy(18);

    @media (max-width: remy(767)) {
        padding-top: remy(15);
        gap: remy(27);
    }
}

.social__links-item {
    width: remy(110);
    height: remy(110);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    background-color: #fff;
    border-radius: 50%;
    transition: background-color 0.2s ease-in;

    &:hover {
        background-color: var(--outlBg);
    }

    @media (max-width: remy(767)) {
        width: remy(75);
        height: remy(75);
    }
}

.social__links-item svg {
    width: 1.875rem;
    height: 1.875rem;
    color: var(--ac);
    fill: var(--ac);
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }
  
  .social__links-item:hover {
    background-color: var(--ac);
  }
  
  .social__links-item:hover svg {
    color: white;
    fill: white;
  }
  
  .svg-facebook {
    width: 0.9375rem;
  }
  
  .svg-youtube {
    width: 1.5625rem;
  }

// .social__links-item img {
//     @media (max-width: remy(767)) {
//         width: auto;
//         height: remy(20);
//     }
// }