// ===== cta ======
section.cta
    //===== slider =====
    .cta-content

        //===== cta title =====
        .cta-content__title 
            h2.h2 Become more than you are.
            p.cta-content__text Staying active is great fun and keeps you healthy. #[br] Check out how you can join in.
            a.btn(href="#!") Let's do it!

        //===== ctaSwiper =====
        .swiper.header-slider 
            .swiper-wrapper
                +header-slide("cta-slide")
                +header-slide("header-slide2")
                +header-slide("header-slide3")
                +header-slide("header-slide4")
            .swiper-pagination  

  
				
   
