footer.footer
    .container
        //====== footer-top ======
        .footer-row
            .footer-content 
                a(href="#!").logo Good#[span.accent-span lyfe]
                p.footer__text Lorem ipsum dolor amet, consectetur adipiscing elit. Eget nisl nunc quam ac sed turpis volutpat. Cursus sed massa non nisi, placerat.
                .footer__socials
                    a(href="#!").footer__socials-item
                        svg.svg-insta 
                            use(href="./img/spriteSvg.svg#svg-insta")
                    a(href="#!").footer__socials-item
                        svg.svg-ball 
                            use(href="./img/spriteSvg.svg#svg-ball")
                    a(href="#!").footer__socials-item
                        svg.svg-twitter 
                            use(href="./img/spriteSvg.svg#svg-twitter")
                    a(href="#!").footer__socials-item
                        svg.svg-youtube 
                            use(href="./img/spriteSvg.svg#svg-youtube")
                            
        //====== footer-bottom ======
        .footer-bottom 
            p.footer__copyright &copy; 2024 GoodLyfe. All rights reserved
            ul.footer__menu 
                li.footer__menu-item
                    a(href="#!") Terms & Conditions
                li.footer__menu-item
                    a(href="#!") Privacy Policy
                li.footer__menu-item
                    a(href="#!") Sitemap
                li.footer__menu-item
                    a(href="#!") Disclaimer



    