footer.footer
    .container
        //====== footer-top ======
        .footer-row
            .footer-content 
                a(href="#!").logo.logo--footer.mb-24 Good#[span.txt-accent lyfe]
                .footer__text.mb-24 
                    p Lorem ipsum dolor amet, consectetur adipiscing elit. Eget nisl nunc quam ac sed turpis volutpat. Cursus sed massa non nisi, placerat.
                .footer-social
                    +social-item('instagram')
                    +social-item('dribbble')
                    +social-item('twitter')
                    +social-item('youtube', '13', '10')
            +footer-nav('Quick Links', 'Classes', 'Timetable', 'Clubs', 'Nutrition', 'Free Trial')
            +footer-nav('Guides', 'Weight Loss', 'Strength Gain', 'Crossfit', ' Washbaord Abs', 'Dieting')

            .footer-nav
                h4.footer-nav__title Reach us
                ul.footer-nav__contacts
                    li
                        a(href="mailto:admin@goodlyfe.co")
                            svg(width="20" height="20")
                                use(href="./img/sprite/solid.svg#envelope")
                            span admin@goodlyfe.co
                    li
                        a(href="tel:+889876543210")
                            svg(width="20" height="20")
                                use(href="./img/sprite/solid.svg#phone-volume")
                            span +88 98765 43210
                    li
                        a(href="tel:+889876543210")
                            svg(width="20" height="20")
                                use(href="./img/sprite/solid.svg#location-dot")
                            span 90210 Beverly Hills #[br] California USA

        //====== footer-bottom ======
        .footer-bottom 
            .footer__text
                p &copy; 2024 GoodLyfe. All rights reserved
            .footer__menu
                nav  
                    a(href="#!") Terms & Conditions
                    a(href="#!") Privacy Policy
                    a(href="#!") Sitemap
                    a(href="#!") Disclaimer



    