header.header
   //===== navigation =====
   .header-nav.d-flex
      .header-nav__content.d-flex
         a(href="#!").logo Goodlyfe
          
         // ===== nav =====
         nav.header-menu.d-flex 
            a(href="#!") Classes
            a(href="#!") Timetable
            a(href="#!") Clubs
            a(href="#!") Nutrition
            a(href="#!") Free Trial
         
    
         .header-nav__btn.d-flex
            // ===== button-search =====
            button.search-open.d-flex 
               span Search 
               svg.svg-search 
                  use(href="./img/sprite/solid.svg#magnifying-glass")
            
            // ===== button-search =====
            button.btn-outline Login

   //===== slider =====
   .header-slider
   h1 Hello2
   button.btn Button
   button.btn-outline Button
				
   
