header.header
   //===== navigation =====
   .header-nav.d-flex
      .header-container.d-flex
         a(href="#!").logo Good#[span lyfe]
          
         // ===== nav =====

         #header-menu
            nav.header-menu.d-flex 
               a(href="#!") Classes
               a(href="#!") Timetable
               a(href="#!") Clubs
               a(href="#!") Nutrition
               a(href="#!") Free Trial
         
    
         .header-nav__btn.d-flex
            // ===== button-search =====
            button.search-open.d-flex#search-open 
               span Search 
               svg.svg-search 
                  use(href="./img/sprite/solid.svg#magnifying-glass")
            
            // ===== button =====
            button.btn-outline.btn-outline--slim Login

             // ===== menu-toggle =====
            button.menu-toggle#menu-toggle 
               span

   //===== header-search =====
   .header-search-wrapper#header-search-form
      .header-container
         form.search-form
            .form-item
               input(type="text" placeholder="search...")
               button(type="submit").search-btn
                  svg.svg-search 
                     use(href="./img/sprite/solid.svg#magnifying-glass")

               button(type="reset").reset-btn
                  svg.svg-xmark 
                     use(href="./img/sprite/solid.svg#xmark")


   //===== slider =====
   .header-content
      .swiper.header-slider 
         .swiper-wrapper
            .swiper-slide Slide 1
            .swiper-slide Slide 2 
            .swiper-slide Slide 3
            .swiper-slide Slide 4
         .swiper-pagination  

  
				
   
