header.header
   //===== navigation =====
   .header-nav.d-flex
      .header-container.d-flex
         a(href="#!").logo Good#[span lyfe]
          
         // ===== nav =====
         nav.header-menu.d-flex 
            a(href="#!") Classes
            a(href="#!") Timetable
            a(href="#!") Clubs
            a(href="#!") Nutrition
            a(href="#!") Free Trial
         
    
         .header-nav__btn.d-flex
            // ===== button-search =====
            button.search-open.d-flex 
               span Search 
               svg.svg-search 
                  use(href="./img/sprite/solid.svg#magnifying-glass")
            
            // ===== button-search =====
            button.btn-outline.btn-outline--slim Login

   //===== header-search =====
   .header-search-wrapper 

   //===== slider =====
   .header-slider
  
				
   
