//====== social ======
section.social
    .container 
        .social-content
            h2.h4.txt-accent Social
            .social__links 
                a(href="#!").social__links-item
                    img(src="./img/fb.webp", width="15" height="30" alt="facebook")
                a(href="#!").social__links-item
                    img(src="./img/youtube-pink.webp", width="25" height="30" alt="youtube")
                a(href="#!").social__links-item
                    img(src="./img/insta-pink.webp", width="30" height="30" alt="instagram")
    