//====== social ======
section.social
    .container 
        .social-content
            h2.h4.txt-accent Social
            .social__links 
                a(href="#!").social__links-item
                    svg.svg-facebook 
                        use(href="./img/sprite/brands.svg#facebook-f")
                    //- img(src="./img/fb.webp", width="15" height="30" alt="facebook")
                a(href="#!").social__links-item
                    svg.svg-youtube 
                        use(href="./img/spriteSvg.svg#svg-youtube")
                    //- img(src="./img/youtube-pink.webp", width="25" height="30" alt="youtube")
                a(href="#!").social__links-item
                    svg.svg-instagram 
                        use(href="./img/sprite/brands.svg#instagram")
                    //- img(src="./img/insta-pink.webp", width="30" height="30" alt="instagram")
    