// ===== stories ======
section.stories
    .stories-content
        .stories__title
            h2.h3 Real Stories from #[br]Real Customers
            p Be inspired with these experiences.

        // ===== cards ======
        .stories-cards-wrapper
            +stories-card("3", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget lectus urna. Nulla magna tortor, bibendum in molestie sed, gravida nec felis. Sed id egestasegestas risu.", 1, "James John")
            +stories-card("17", "Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus eget lectus urna. Nulla magna tortor, bibendum in mo.", 2, "Mary Patricia")
            +stories-card("43", "Lorem ipsum dolor sit amet, consectetur adipiscing elit.", 3, "Robert Michael")
                