.svg-search {
    width: remy(20);
    height: remy(20);
    fill: #fff;
    transform: rotate(90deg);
}

.svg-xmark {
    width: remy(25);
    height: remy(25);
    fill: $sec2;
}

.svg-insta, .svg-ball {
    width: remy(12.8);
    height: remy(12.8);
}

.svg-twitter {
    width: remy(11.6);
    height: remy(9.6);
}

.svg-youtube {
    width: remy(12.8);
    height: remy(9.2);
}



