.h1, .h2, .h4 {
    font-size: remy(70);
    line-height: 1.1;
    font-weight: 700;
}

.h2 {
    font-size: remy(60);
}

.h3, .h5 {
    font-size: remy(48);
    line-height: 1.1;
    font-weight: 600;
}

.h4 {
    font-size: remy(40);
    line-height: 1.5;
}

.h5 {
    font-size: remy(38);
}

.accent-span {
    color: var(--subAc)!important;
}

.txt-accent {
    color: var(--ac)!important;
}

@media (max-width: remy(1199)) {
    .h1 {
        font-size: remy(54);
    }
}

@media (max-width: remy(767)) {
    .h1 {
        font-size: remy(32);
    }

    .h2 {
        font-size: remy(42);
    }

    .h3 {
        font-size: remy(26);
    }

    .h4 {
        line-height: 1.2;
    }
    
    .subtitle {
        font-size: remy(16);
    }
}

.logo {
    font-size: remy(40);
    font-weight: 800;
    line-height: 1.095;
    color: #fff;
    margin-right: auto;



    @media (max-width: remy(1199)) {
        font-size: remy(32);
    }

    @media (max-width: remy(574)) {
        font-size: remy(22);
    }
}

.logo--footer {
    font-size: remy(25);
    margin-right: unset;
}