.btn,
.btn-outline {
    display: inline-block;
    min-width: remy(237);
    height: remy(68);
    border-radius: remy(34);
    text-align: center;
    background-color: var(--ac);

    font-size: 1rem;
    font-weight: 600;
    line-height: remy(68);
    color: #fff;
   
    cursor: pointer;
    white-space: nowrap;
    transition: 0.3s;
    flex-shrink: 0;

    @media (max-width: remy(991)) {
        height: remy(56);
        line-height: remy(56);
    }
}

.btn:hover {
    background-color: var(--darkAc);
}

.btn:focus {
    background-color: var(--darkAc);
    outline: remy(9) solid var(--outlBg);
}

.btn-outline {
    line-height: remy(64);
    border: remy(2) solid var(--ac);
    background-color: #fff;
    color: var(--ac);

    @media (max-width: remy(991)) {
        height: remy(60);
        line-height: remy(56);
    }
}

.btn-outline--slim {
    height: remy(50);
    line-height: remy(46);
    min-width: remy(166);
    font-weight: 400;

}

.btn-outline:hover {
    border-color: var(--darkAc);
    color: var(--darkAc);
}

.btn-outline:focus {
    border: remy(2) solid var(--ac);
    border-color: var(--ac);
    color: var(--ac);
    outline: remy(9) solid var(--outlBg);
    background-color: #fff;
}

.btn-outline.btn-outline--slim:focus {
    outline: remy(5) solid var(--outlBg);
}

.search-open {
    height: remy(50);
    display: flex;
    column-gap: remy(6);
    align-items: center;
    color: #fff;
    transition: .3s;

    &:hover {
        opacity: .7;
    }

    @media (max-width: remy(574)) {
        span {
            display: none;
        }

    }
}