.header-menu {
    column-gap: remy(70);
    flex-shrink: 0;

    a {
        padding: remy(3);
        color: #fff;
        transition: .3s;

        &:hover {
            opacity: .7;
        }

    }
}