.header-menu {
    column-gap: remy(70);
    flex-shrink: 0;

    a {
        padding: remy(3);
        color: #fff;
        transition: .3s;

        &:hover {
            opacity: .7;
        }

    }

    @media (max-width: remy(1439)) {
        column-gap: 2.5rem;
    }

    @media (max-width: remy(1199)) {
        column-gap: 1.5rem;
    }

    @media (max-width: remy(991)) {
        width: remy(320);
        height: 100%;
        margin-left: auto;
        transform: translateX(110%);
        transition: 0.3s;

        flex-direction: column;
        padding-block: remy(40);
        row-gap: remy(12);
        background-color: var(--ac);

        a {
            font-size: remy(20);
        }
    }
}

#header-menu {
    @media (max-width: remy(991)) {
        display: none;
        position: fixed;
        z-index: 10;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255, 255, 255, 0.7);
    }
}

#header-menu.active {
    display: block;
    animation-name: opacity;
    animation-duration: .3s;
    animation-delay: .5s;
    animation-fill-mode: forwards;

    .header-menu {
        animation-name: move;
        animation-duration: .3s;
        animation-delay: .5s;
        animation-fill-mode: forwards;
    }
}

@keyframes move {
    from {
        transform: translateX(110%);
    }
    to {
        transform: translateX(0);
    }
}

@keyframes opacity {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}