.header-search-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100px;
    padding-block: remy(30);
    box-shadow: 0 7px 15px rgba(0, 0, 0, .1);
    background-color: #fff;
    transition: .3s;

    &.visible {
        top: remy(110);
        z-index: 2;
    }
}