mixin social-item(svgName, svgWidth="13", svgHeight="13", itemLink ="#!")
    a(href="" + itemLink)
        svg(width="" + svgWidth height="" + svgHeight) 
            use(href="./img/sprite/brands.svg#" + svgName)