extends ../layouts/layout.pug

block variables
	-var title = "Page";

block content
	include ../sections/header.pug
	main.main
		include ../sections/result.pug
		include ../sections/cta.pug
		include ../sections/premium.pug
		include ../sections/stories.pug
		include ../sections/app.pug
		include ../sections/social.pug

	
	
	

